.header{
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(226, 171, 68);
}

.title{
    font-family: "Satisfy", cursive;
    font-size: 50px;
    text-align: center;
    margin: 15px;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navButton{
    font-family: "Satisfy", cursive;
    color:rgb(142, 74, 18);
    font-size: 20px;
    margin-right: 10px;
    background-color: rgb(226, 171, 68);
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.navButton:hover{
    background-color:rgb(237, 193, 110);
}

body{
    background-color: 	#f3e88c;
    margin: 0px;
}   

.chefImage{
    width: 200px;
    border-radius: 200px;
}

.imageDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.descriptionDiv{
    width: 650px;
    text-align: center;
    margin-top: 40px;
    font-family: "Satisfy", cursive;
    font-size: 20px;
}

.outerDiv
{
    display: flex;
    justify-content: center;
}

.contentDiv{
    margin-bottom: 50px;
}

.locationImage{
    width: 500px;
}

.menuGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.menuImage{
    width: 200px;
    height: 200px; 
    border-radius: 100px;
}

.menuItemName{
    text-align: center;
    margin-top: 40px;
    font-family: "Satisfy", cursive;
    font-size: 20px;
}

@media (max-width: 750px) {
    .menuGrid {
      grid-template-columns: 1fr 1fr;
    }
  }